<!-- Footer -->
<div class="container">
    <footer>
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright v.1.0.0
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
</div>