<!-- view/dashboard.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DashBoard</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <!-- Custom styles for navbar page -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="./assets/css/nav.css" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
        crossorigin="anonymous">
</head>
<script>
    var roomList = <%- roomList %>;
</script>

<body>
    <% include nav %>

    <div class="container">
        <div class="modal fade" role="dialog" tabindex="-1" id="createRoomModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Create New Room</h4><button type="button" class="close" data-dismiss="modal"
                            aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label>Room Name:</label>
                                <input id="createRoomModal_roomName" type="text" class="form-control">
                            </div>
                            <label>Select Topic:</label><br>
                            <div id="modal_topic_select">
                            </div><br>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Description: </span>
                                </div>
                                <textarea class="form-control" aria-label="With textarea" id="roomDesc"></textarea>
                            </div>


                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" type="button" data-dismiss="modal" id="createRoomModal_createBtn">Add</button>
                        <button class="btn btn-danger" type="button" data-dismiss="modal">Dismiss</button></div>
                </div>
            </div>
        </div>
        <hr>
        <button type="button" class="btn btn-primary" style="margin-bottom:10px;" id="createRoomBtn">Create Room</button>
        <div class="row" id="roomListContext">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Room 1</h5>
                        <p class="card-text">Description of Room 1.</p>
                        <a href="/LAP/liveRoom/abc" class="btn btn-success"><i class="fas fa-sign-in-alt"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Room 2</h5>
                        <p class="card-text">Description of Room 2.</p>
                        <a href="/LAP/liveRoom/def" class="btn btn-success"><i class="fas fa-sign-in-alt"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <% include footer %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <script type="text/javascript" src="assets/js/jquery.redirect.js"></script>
</body>

<script>
    function renderRoomListCard() {
        $('#roomListContext').empty();

        var insertStr = '';
        for (var i = 0; i < roomList.length; i++) {
            var room = roomList[i];

            insertStr += `<div class="col-sm-6">`;
            insertStr += `<div class="card">`;
            insertStr += `<div class="card-body">`;
            insertStr += `<h5 class="card-title">${room.roomName}</h5>`;
            insertStr += `<p class="card-text">Topic: ${room.roomTopic}</p>`;
            insertStr += `<p class="card-text">Description: ${room.roomDesc}.<br> Room creater: ${room.speakerName}</p>`;
            insertStr += `<p class="card-text">Room People: ${room.roomPeopleJoin}.</p>`;
            insertStr += `<a href="/LAP/liveRoom/${room.roomIndex}" class="btn btn-success"><i class="fas fa-sign-in-alt"></i></a>`;
            insertStr += `</div>`;
            insertStr += `</div>`;
            insertStr += `</div>`;
        }

        $('#roomListContext').append(insertStr);
    }

    // firebase.auth().onAuthStateChanged(function (user) {
    //     if (user) {
    //         // User is signed in.
    //     } else {
    //         // No user is signed in.
    //         window.location.href = '/LAP/notLogin';
    //     }
    // });

    $(document).ready(function () {
        console.log(roomList);
        renderRoomListCard();
    });

    $(document).on('click', '#createRoomModal_createBtn', function () {
        //get room name
        var roomName = $('#createRoomModal_roomName').val();

        // get habbit select
        var topic = $('input[name=inlineRadioOptions]:checked').val();
        
        var desc = $('#roomDesc').val();
        
        $.ajax({
            url: window.location.href,
            data: { 'createNewRoom': true, 'name': displayName, 'uid': uid, 'roomName': roomName, 'topic':topic, 'roomDesc':desc },
            type: 'POST',
            success: function (data, textStatus, jqXHR) {
                //success create, redirect
                //get roomName
                console.log(data);

                //redirec to room
                var url = `/LAP/liveRoom/${data}`;
                $.redirect(url, { 'speaker': true });
            }
        });

    });

    $(document).on('click', '#createRoomBtn', function () {
        firebase.database().ref('/habit').once('value').then(function (habitList) {
            $('#modal_topic_select').empty();
            insertStr = '';
            var count = 0;
            habitList.forEach(function (habit) {
                insertStr += `<div class="form-check form-check-inline">`;
                insertStr += `<input class="form-check-input" type="radio" name="inlineRadioOptions" id="habitradio_${count}" value="${habit.key}">`;
                insertStr += `<label class="form-check-label" for="habitradio_${count}">${habit.key}</label>`;
                insertStr += `</div>`;
            });
            $('#modal_topic_select').append(insertStr);

            $('#createRoomModal').modal('show');
        });
    });



</script>

</html>