<!-- nav bar -->
<div class="container">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-3 pt-1">
                <a class="text-muted" href="/">LAP</a>
            </div>
            <div class="col-4 text-center">
                <a class="blog-header-logo text-dark" href="/">Live Activate Platform</a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center" id="div_userinfo">
            </div>
        </div>
    </header>

    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-start">
            <a class="p-2 text-muted" id="linkLiveRoom" href="/LAP/liveRoom">LiveRoom</a>
            <a class="p-2 text-muted" id="linkChatRoom" href="/LAP/liveRoomList">LiveRoom</a>
        </nav>
    </div>
</div>


<script src="https://www.gstatic.com/firebasejs/5.5.5/firebase-app.js"></script>

<script src="https://www.gstatic.com/firebasejs/5.5.5/firebase-auth.js"></script>

<script src="https://www.gstatic.com/firebasejs/5.5.5/firebase-database.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyC9BYgGylmyMowSRQSyA7Cnh3eLHCZUY-s",
        authDomain: "livechat-73dad.firebaseapp.com",
        databaseURL: "https://livechat-73dad.firebaseio.com",
        projectId: "livechat-73dad",
        storageBucket: "livechat-73dad.appspot.com",
        messagingSenderId: "755630090832"
    };
    firebase.initializeApp(config);

    firebase.auth().onAuthStateChanged(function (user) {
        if (user) {
            // User is signed in.
            var displayName = user.displayName;
            var email = user.email;
            var emailVerified = user.emailVerified;
            var photoURL = user.photoURL;
            var isAnonymous = user.isAnonymous;
            var uid = user.uid;
            var providerData = user.providerData;
            
            updateUserInfo();
        } else {
            // User is signed out.
            updateUserInfo();
        }
    });

    //update view page after user login in
    function updateUserInfo() {
        var user = firebase.auth().currentUser;
        $('#div_userinfo').empty();
        var insertStr = "";
        if (user) {
            // User is signed in.
            insertStr = `<a class="btn btn-sm btn-primary" href="/LAP/userinfo">`;
            insertStr += `${user.displayName}</a>&nbsp;&nbsp;`;
            insertStr += `<button id="signOutBtn" class="btn btn-sm btn-outline-secondary">Sign Out</button>`;
        } else {
            // No user is signed in.
            insertStr = `<a class="btn btn-sm btn-outline-primary" href="/LAP/signin">Sign in</a>&nbsp;`;
            insertStr += `<a class="btn btn-sm btn-outline-secondary" href="/LAP/signup">Sign up</a>&nbsp;`;
        }
        $('#div_userinfo').append(insertStr);

        if (user) {
            // User is signed in.
            $('#linkLiveRoom').attr("href", '/LAP/liveRoom');
            $('#linkChatRoom').attr("href", '/LAP/liveRoomList');
        } else {
            // No user is signed in.
            $('#linkLiveRoom').attr("href", '/LAP/notLogin');
            $('#linkChatRoom').attr("href", '/LAP/notLogin');
        }
    }

    $(document).on('click', '#signinBtn', function () {
        var email = $('#email').val();
        var password = $('#password').val();

        firebase.auth().signInWithEmailAndPassword(email, password)
            .then(function (user) {
                console.log(user);
                //sigin success, redirect to home page
                window.location.href = "/";
            })
            .catch(function (error) {
                // Handle Errors here.
                alert(error);
                // window.location.href = "/";
            });
    });
    
    $(document).on('click', '#signupBtn', function () {
        var name = $('#name').val();
        var email = $('#email').val();
        var password = $('#password').val();

        firebase.auth().createUserWithEmailAndPassword(email, password)
            .then(function (user) {
                var user = firebase.auth().currentUser;
                user.updateProfile({
                    displayName: name
                }).then(function() {
                    // Update successful.
                    window.location.href = "/";
                });
            }, function (error) {
                // Handle Errors here.
                alert(error);
                // console.log(error);
            });  
    });    

    $(document).on('click', '#signOutBtn', function () {
        console.log('click sign out');
        firebase.auth().signOut().then(function () {
            // Sign-out successful.
            window.location.href = "/";
        }).catch(function (error) {
            // An error happened
            console.log(error);
        });
    });

</script>